#game {
  display: flex;
  color: white;
  font-size: 0;
  position: relative;
  height: 672.125px;
  width: 1186.25px;
}

  #stage {
    display: inline-block;
    vertical-align: top;
  }

  #instructions {
    display: inline-block;
    background-color: black;
    width: 200px;
    height: 585px;
    vertical-align: top;
  }

  .content {
    color: white;
    margin: auto;
    width: 400px;
    text-align: center;
  }

  .content h1 {
    font-size: 40px;
    display: block;
    margin-bottom: 30px;
  }

  .content span {
    font-size: 15px;
  }

  .page {
    background-color: black;
    display: flex;
    align-items: center;
  }

  .new-room {
    width: 1186.25px; /* 1010px + 200px */
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
  }

  .new-room .content button {
    font-size: 20px;
    color: white;
    background: black;
    border: 1px solid white;
  }

  .waiting-room {
    width: calc(1186.25px - 200px);
    height: 100%;
    background: url(../assets/lava_background4.jpg) no-repeat cover;
  }

  .waiting-list {
    width: 200px;
    height: 100%;
    background-color: black;
    font-size: 20px;
  }

    .players-list {
      color: white;
    }

    .self-player {
      color: #F4D03F;
    }

  .error-msg {
    font-size: 20px;
  }

  .game-status {
    position: absolute;
    font-size: 15px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    font-family: 'Bungee Inline', cursive;
    color: #a59c9d;
  }

    .container {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px 20px;
      position: relative;
      border-radius: 7px;
    }

    .timer-container {
      width: 280px;
      margin: auto;
      margin-top: 10px;
    }

      .timer {
        margin: auto;
      }

      .timer-min-div {
        width: 94px;
        display: inline-block;
        position: relative;
      }

      .timer-sec-div {
        width: 94px;
        display: inline-block;
        position: relative;
      }

      .timer-min {
        font-size: 40px;
      }

      .timer-sec {
        font-size: 40px;
      }

      .timer .time-left-text {
        font-size: 10px;
        margin-right: 10px;
        position: relative;
        top: -21px;
      }

      .timer .time-text {
        font-size: 10px;
        margin-right: 10px;
        position: absolute;
        bottom: 5px;
        right: 0px;
      }

    .hp-container {
      width: 200px;
      top: -45px;
      left: 30px;
    }

      .hp-list img {
        height: 15px;
      }

      .hp-bar {
        height: 10px;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0);
        display: inline-block;
        position: absolute;
        right: 0;
        margin-right: 20px;
      }

      .hp-level {
        background-color: red;
        height: 10px;
      }

    .weapon-container {
      width: 110px;
      height: 110px;
      top: 400px;
      left: 1000px;
    }

      .weapon-container .weapon-type {
        position: absolute;
        font-size: 15px;
        top: 0;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
      }

      .weapon-container img {
        height: 100%;
        display: block;
        margin: auto;
      }

      .weapon-container .no-weapon-img {
        opacity: 0.6;
      }

    .scoreboard-container {
      width: 240px;
      position: absolute;
      top: 20px;
      right: 35px;
    }

      .scoreboard-container h2 {
        font-size: 20px;
        margin-bottom: 5px;
        margin-left: 17px;
      }

      .ranking img {
        height: 30px;
        margin-left: 5px;
      }

      .ranking .icon {
        margin-right: 10px;
      }

      .ranking li {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin-bottom: 5px;
      }

      .ball-holder {
        width: 70px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 24px;
      }

      .ball-holder span {
        margin-left: 3px;
      }

    .results-container {
      width: 400px;
      margin: auto;
      position: absolute;
      top: 50%;
      height: 320px;
      margin-top: -160px;
      left: 0;
      right: 0;
    }

    .results-container h1 {
      font-size: 45px;
      color: wheat;
      margin-bottom: 10px;
      text-align: center;
    }

    .results {
      width: 100%;
      height: 250px;
      box-sizing: border-box;
    }

      .results h2 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      .results .row-header {
        font-size: 15px;
        margin-right: 15px;
        display: inline-block;
        margin-left: 20px;
      }

.hidden {
  display: none;
}
