#game-status {
  display: inline-block;
  width: 200px;
  height: 585px;
  background-color: black;
}

#game span {
  display: block;
  color: blue;
}

#stage {
  display: inline-block;
  vertical-align: top;
}

#instructions {
  display: inline-block;
  background-color: black;
  width: 200px;
  height: 585px;
  vertical-align: top;
}

.player-1 {
  color: blue;
}

.player-2 {
  color: red;
}

.player-3 {
  color: yellow;
}

.player-4 {
  color: green;
}

body {
  overflow: hidden;
}

#game {
  margin: auto;
  width: 1000px;
  color: white;
}
